<article class="post-card">
    <div>
        {{#if feature_image}}
        <a href={{url}}>
            <img src={{img_url feature_image}} alt={{name}}>
        </a>
        {{/if}}
        <h3>{{title}}</h3>
        <p>{{excerpt}}</p>
    </div>
    <div>
        <a href={{url}} class="button button-outline button-white button-fullwidth">See more</a>
    </div>
</article>