{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The main content area --}}
<div id="author">
    {{#author}}
    <main>
        {{#if profile_image}}
        <img src={{profile_image}} alt={{name}}>
        {{/if}}
    </main>

    <section class="wrapper style3">
        <div class="title" data-aos="fade-up" data-aos-delay="100">{{name}}</div>
        <p>{{author-location}}</p>
        <div class="content">
            {{bio}}
        </div>
    </section>

    {{/author}}

    <section class="wrapper style2">
        <div class="title">Posts</div>
        <div class="container">
            <div class="row">
                {{#foreach posts}}
                <div class="column third" data-aos="fade-right" data-aos-delay="{{@index}}00">
                    {{> "post-card"}}
                </div>
                {{/foreach}}
            </div>

        </div>
    </section>

</div>