{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The main content area --}}
<div id="author">
    {{#author}}
    <main>
        {{#if profile_image}}
        <img src={{profile_image}} alt={{name}}>
        {{/if}}
    </main>

    <section class="wrapper style3">
        <div class="title">{{name}}</div>
        <p>{{author-location}}</p>
        <div class="content">
            {{bio}}
        </div>
    </section>

    {{/author}}

    <section class="wrapper style2">
        <div class="title">Posts</div>
        {{#foreach posts}}
        {{> "post-card"}}
        <hr>
        {{/foreach}}
    </section>

</div>