{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The main content area --}}
<div id="page">
    {{#post}}

    <main style="background-image: url({{img_url feature_image}})">
    </main>

    <section class="wrapper style3">
        <div class="title" data-aos="fade-up" data-aos-delay="100">{{title}}</div>
        <div class="container content">
            {{content}}
        </div>
    </section>

    <section class="wrapper style2">
        <div class="title" data-aos="fade-up" data-aos-delay="100">See More</div>
        <div class="container">

            {{#get "pages" filter="slug:-{{slug}}" limit="3"}}
            <div class="row wrap">
                {{#foreach pages}}
                <div class="column md-33" data-aos="fade-right" data-aos-delay="{{@index}}00">
                    {{> "post-card"}}
                </div>
                {{/foreach}}
            </div>
            {{/get}}
        </div>
    </section>

    {{/post}}
</div>