{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The main content area --}}
<div id="post">
    {{#post}}

    <main style="background-image: url({{img_url feature_image}})">
    </main>

    <section class="wrapper style3">
        <div class="title" data-aos="fade-up" data-aos-delay="100">{{title}}</div>
        <div class="container content">
            {{content}}
        </div>
    </section>

    {{#if primary_tag}}
    {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{id}}" limit="3" as |related_posts|}}
    {{#if related_posts}}

    <section class="wrapper style2">
        {{#../primary_tag}}
        <div class="title" data-aos="fade-up" data-aos-delay="100">More in {{name}}</div>
        {{/../primary_tag}}
        <div class="container">
            <div class="row wrap">
                {{#foreach related_posts}}
                <div class="column md-33" data-aos="fade-right" data-aos-delay="{{@index}}00">
                    {{> "post-card"}}
                </div>
                {{/foreach}}
            </div>

        </div>
    </section>

    {{/if}}
    {{/get}}
    {{/if}}


    {{/post}}
</div>