{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The main content area --}}
<div id="post">
    {{#post}}

    <main class="container" style="background-image: url({{img_url feature_image}})">
    </main>

    <section class="wrapper style3">
        <div class="title">{{title}}</div>
        <div class="content">
            {{content}}
        </div>
    </section>

    {{#if primary_tag}}
    {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{id}}" limit="3" as |related_posts|}}
    {{#if related_posts}}

    <section class="wrapper style2">

        {{#../primary_tag}}
        <div class="title">More in {{name}}</div>
        {{/../primary_tag}}

        {{#foreach related_posts}}
        {{> "post-card"}}
        <hr>
        {{/foreach}}
    </section>

    {{/if}}
    {{/get}}
    {{/if}}


    {{/post}}
</div>